.input {
	border-radius: 10px;
	height: 50px;
	font-size: 25px;
	font-family: sans-serif;
	letter-spacing: 1px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input:focus {
	outline: none;
}
.buttonClick {
	visibility: hidden;
}

.form {
	border: 1px solid black;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: white;
	border-radius: 5px;
	background: #000000 no-repeat center / cover;
}

.inputActive {
	background-color: green;
}
.isFalse {
	background-color: red;
}

.words {
	font-size: 35px;
}

.rightNo {
	display: flex;
	gap: 20px;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rightNoP {
	font-family: sans-serif;
}

.noRightWordCounterContainer {
	margin-top: 10px;
}

@media (max-width: 600px) {
	.buttonClick {
		visibility: visible;
		appearance: button;
		background-color: #000;
		background-image: none;
		border: 1px solid #000;
		border-radius: 4px;
		box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin: 0 5px 10px 0;
		overflow: visible;
		padding: 12px 40px;
		text-align: center;
		text-transform: none;
		touch-action: manipulation;
		user-select: none;
		-webkit-user-select: none;
		vertical-align: middle;
		white-space: nowrap;
		width: 70%;
		margin: 10px 0px 25px 0px;
		letter-spacing: 3px;
	}
	.buttonClick:focus {
		text-decoration: none;
	}

	.buttonClick:hover {
		text-decoration: none;
	}

	.buttonClick:active {
		box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
		outline: 0;
	}
}

.statusContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
